<div>
    <div class="dialog-background"></div>
    <form id="logsis-form" action="?plugin=logsis&action=saveOrder">
        <input type="hidden" name="order_id" value="{$order.id|default:0}"/>
        {if !empty($resend)}
            <input type="hidden" name="resend" value="1"/>
        {/if}
        {$wa->csrf()}
        <div class="dialog-window">
            <div class="dialog-content">
                <div class="dialog-content-indent">
                    <h1>Заявка на доставку Logsis</h1>

                    <h2 class="grey">Доставка</h2>
                    <div class="fields form">
                        <div class="field">
                            <div class="name">Дата доставки *</div>
                            <div class="value">
                                <input class="required" type="text" name="logsis[delivery_date]" value="{$order.logsis.delivery_date|default:time()|date_format:"Y-m-d"|escape}"/>
                                <p class="hint">в формате ГГГГ-ММ-ДД</p>
                            </div>
                        </div>
                        <div class="field">
                            <div class="name">Интервал доставки *</div>
                            <div class="value">
                                <input class="required short" type="text" name="logsis[delivery_time1]" value="{$order.logsis.delivery_time1|default:'10:00'|escape}"/>
                                -
                                <input class="required short" type="text" name="logsis[delivery_time2]" value="{$order.logsis.delivery_time2|default:'22:00'|escape}"/>
                                <p class="hint">Минимальное начальное - 10:00, максимальное конечное - 22:00, интервал - 4 часа минимум.</p>
                            </div>
                        </div>

                        <div class="field">
                            <div class="name">Город получения *</div>
                            <div class="value">
                                <input type="hidden" id="mo_punkt_id" name="logsis[mo_punkt_id]" value="{$order.logsis.mo_punkt_id|default:''|escape}"/>
                                <input class="required city-field" name="logsis[city]" type="text" value="{$order.logsis.city|default:$order.params['shipping_address.city']|default:''|escape}" placeholder="введите первые буквы ..."/>
                            </div>
                        </div>

                        <div class="field">
                            <div class="name">Адрес доставки *</div>
                            <div class="value">
                                <input class="required long" type="text" name="logsis[addr]" value="{$order.logsis.addr|default:''|escape}"/>
                            </div>
                        </div>
                        <div class="field">
                            <div class="name">Тип налогообложения для услуги доставки</div>
                            <div class="value">
                                <select name="logsis[price_client_delivery_nds]">
                                    <option value="0"{if $order.logsis.price_client_delivery_nds|default:0 == 0} selected="selected"{/if}>По умолчанию</option>
                                    <option value="1"{if $order.logsis.price_client_delivery_nds|default:0 == 1} selected="selected"{/if}>HДС 18%</option>
                                    <option value="2"{if $order.logsis.price_client_delivery_nds|default:0 == 2} selected="selected"{/if}>Без HДС</option>
                                    <option value="3"{if $order.logsis.price_client_delivery_nds|default:0 == 3} selected="selected"{/if}>HДС 10%</option>
                                    <option value="4"{if $order.logsis.price_client_delivery_nds|default:0 == 4} selected="selected"{/if}>HДС 18/118</option>
                                    <option value="5"{if $order.logsis.price_client_delivery_nds|default:0 == 5} selected="selected"{/if}>HДС 10/110</option>
                                    <option value="6"{if $order.logsis.price_client_delivery_nds|default:0 == 6} selected="selected"{/if}>НДС 0%</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="clear-both"></div>

                    <h2 class="grey">Получатель</h2>
                    <div class="fields form">
                        <div class="field">
                            <div class="name">ФИО (имя) получателя *</div>
                            <div class="value">
                                <input class="required long" type="text" name="logsis[target_name]" value="{$order.logsis.target_name|default:$order.contact.name|escape}"/>
                            </div>
                        </div>
                        <div class="field">
                            <div class="name">Номер телефона получателя *</div>
                            <div class="value">
                                <input class="required" type="text" name="logsis[target_contacts]" value="{$order.logsis.target_contacts|default:$order.contact.phone|escape}"/>
                                <p class="hint">Только 11 цифр: 7хххххххххх</p>
                            </div>
                        </div>
                    </div>
                    <div class="clear-both"></div>

                    <h2 class="grey">Заказ</h2>
                    <div class="fields form">
                        <div class="field">
                            <div class="name">Габариты заказа *</div>
                            <div class="value">
                                <input class="required short" type="text" name="logsis[dimension_side1]" value="{$order.logsis.dimension_side1|default:''|escape}" placeholder="см"/>
                                x
                                <input class="required short" type="text" name="logsis[dimension_side2]" value="{$order.logsis.dimension_side2|default:''|escape}" placeholder="см"/>
                                x
                                <input class="required short" type="text" name="logsis[dimension_side3]" value="{$order.logsis.dimension_side3|default:''|escape}" placeholder="см"/>
                                <p class="hint">Значение сторон в см</p>
                            </div>
                        </div>
                        <div class="field">
                            <div class="name">Вес отправления *</div>
                            <div class="value">
                                <input class="required short" type="text" name="logsis[order_weight]" value="{$order.logsis.order_weight|default:''|escape}" placeholder="кг"/>
                                <p class="hint">Вес в кг</p>
                            </div>
                        </div>

                        <div class="field">
                            <div class="name">Количество мест<br/> в заказе *</div>
                            <div class="value">
                                <input class="required short" type="text" name="logsis[places_count]" value="{$order.logsis.places_count|default:'1'|escape}" />
                            </div>
                        </div>
                        <div class="field">
                            <div class="name">Признак возможности вскрытия заказа *</div>
                            <div class="value">
                                <select name="logsis[open_option]">
                                    <option value="1"{if $order.logsis.open_option|default:3 == 1} selected="selected"{/if}>Вскрытие разрешено</option>
                                    <option value="2"{if $order.logsis.open_option|default:3 == 2} selected="selected"{/if}>Разрешено вскрытие только внешней упаковки</option>
                                    <option value="3"{if $order.logsis.open_option|default:3 == 3} selected="selected"{/if}>Вскрытие запрещено</option>
                                </select>
                            </div>
                        </div>
                        <div class="field">
                            <div class="name">Комментарий к заказу</div>
                            <div class="value">
                                <textarea name="logsis[target_notes]">{$order.logsis.target_notes|default:$order.comment|escape}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="clear-both"></div>
                    
                    <h2 class="grey">Услуги</h2>
                    <div class="fields form">
                        <div class="field">
                            <div class="name">Услуга «Прием наложенного платежа»</div>
                            <div class="value">
                                <input type="hidden" name="logsis[np]" value="0"/>
                                <input type="checkbox" name="logsis[np]" value="1"{if $order.logsis.np|default:0} checked="checked"{/if}/>
                            </div>
                        </div>
                        <div class="field">
                            <div class="name">Услуга «SMS-информирования»</div>
                            <div class="value">
                                <input type="hidden" name="logsis[sms]" value="0"/>
                                <input type="checkbox" name="logsis[sms]" value="1"{if $order.logsis.sms|default:0} checked="checked"{/if}/>
                            </div>
                        </div>
                        <div class="field">
                            <div class="name">Услуга «Звонок клиенту»</div>
                            <div class="value">
                                <input type="hidden" name="logsis[call_option]" value="0"/>
                                <input type="checkbox" name="logsis[call_option]" value="1"{if $order.logsis.call_option|default:0} checked="checked"{/if}/>
                            </div>
                        </div>
                        <div class="field">
                            <div class="name">Услуга «Возврат накладных / документов, вложенных в заказ»</div>
                            <div class="value">
                                <input type="hidden" name="logsis[docs_option]" value="0"/>
                                <input type="checkbox" name="logsis[docs_option]" value="1"{if $order.logsis.call_option|default:0} checked="checked"{/if}/>
                            </div>
                        </div>
                        <div class="field">
                            <div class="name">Возможность частичного выкупа заказа клиентом</div>
                            <div class="value">
                                <input type="hidden" name="logsis[partial_option]" value="0"/>
                                <input type="checkbox" name="logsis[partial_option]" value="1"{if $order.logsis.partial_option|default:0} checked="checked"{/if}/>
                            </div>
                        </div>
                        <div class="field">
                            <div class="name">Возможность примерки товаров </div>
                            <div class="value">
                                <input type="hidden" name="logsis[dress_fitting_option]" value="0"/>
                                <input type="checkbox" name="logsis[dress_fitting_option]" value="1"{if $order.logsis.dress_fitting_option|default:0} checked="checked"{/if}/>
                            </div>
                        </div>
                        <div class="field">
                            <div class="name">Занос / подъем КГТ заказов (более 25 кг) до квартиры</div>
                            <div class="value">
                                <input type="hidden" name="logsis[lifting_option]" value="0"/>
                                <input type="checkbox" name="logsis[lifting_option]" value="1"{if $order.logsis.lifting_option|default:0} checked="checked"{/if}/>
                            </div>
                        </div>
                        <div class="field">
                            <div class="name">Признак наличия в доме грузового лифта для услуги 'занос / подъем КГТ заказов (более 25 кг) до квартиры</div>
                            <div class="value">
                                <input type="hidden" name="logsis[cargo_lift]" value="0"/>
                                <input type="checkbox" name="logsis[cargo_lift]" value="1"{if $order.logsis.cargo_lift|default:0} checked="checked"{/if}/>
                            </div>
                        </div>
                        <div class="field">
                            <div class="name">Номер этажа клиента для услуги 'занос / подъем КГТ заказов (более 25 кг) до квартиры</div>
                            <div class="value">
                                <input class="required short" type="text" name="logsis[floor]" value="{$order.logsis.floor|default:'1'|escape}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dialog-buttons">
                <div class="dialog-buttons-gradient">
                    <input type="checkbox" name="send" value="1"/> - отправить заявку
                    <input type="submit" value="Сохранить" class="button green">
                    <a class="cancel" href="#">Отмена</a>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="{$wa_app_static_url}plugins/logsis/js/jquery.validate.min.js"></script>
<script src="{$wa_app_static_url}plugins/logsis/js/kladr/jquery.kladr.min.js"></script>
<link href="{$wa_app_static_url}plugins/logsis/js/kladr/jquery.kladr.min.css" rel="stylesheet">
<script type="text/javascript" src="{$wa_app_static_url}plugins/logsis/js/maskedinput.js"></script> 
<script type="text/javascript">
    $(document).ready(function () {
        $('input[name="logsis[target_contacts]"]').mask("79999999999");
        $('input[name="logsis[delivery_date]"]').mask("9999-99-99");
        $('input[name="logsis[delivery_time1]"]').mask("99:99");
        $('input[name="logsis[delivery_time2]"]').mask("99:99");
        $('input[name="logsis[delivery_date]"]').datepicker({
            dateFormat: 'yy-mm-dd'
        });

        $('.city-field').kladr({
            type: $.kladr.type.city,
            select: function (obj) {
                $('#mo_punkt_id').val(obj.id);
            }
        });

        $("#logsis-form").validate({
            rules: {
                terms: {
                    required: true
                }
            },
            messages: {
                terms: "Это поле обязательное для заполнения"
            },
            submitHandler: function (form) {
                var form = $(form);
                var loading = $('<i class="icon16 loading"></i>')
                form.find('input[type=submit]').after(loading);
                $.ajax({
                    url: form.attr('action'),
                    type: 'POST',
                    dataType: 'json',
                    data: form.serialize(),
                    success: function (data, textStatus) {
                        loading.remove();
                        if (data.status == 'ok') {
                            form.closest('.dialog').trigger('close');
                        } else {
                            alert(data.errors.join(', '));
                        }
                    }, error: function (jqXHR, textStatus, errorThrown) {
                        alert(jqXHR.responseText);
                    }
                });
            }
        });
        $('#logsis-form .required').each(function () {
            $(this).rules('add', {
                required: true,
                messages: {
                    required: "Это поле обязательное для заполнения"
                }
            });
        });

        $('#logsis-form .cancel').click(function () {
            $(this).closest('.dialog').trigger('close');
            return false;
        });
    });
</script>